@media (prefers-color-scheme: dark) {
  body.auto {
      color-scheme: dark;
      --border-normal: #554877!important;
      --border-normal-alt: #64558a!important;
          --border-subdued: #40365b!important;
      --foreground-normal: #c9d1d9;
      --foreground-normal-alt: #f0f6fc;
          --foreground-subdued: #40365b!important;
          --foreground-inverted: #1a142a!important;
          --background-normal: #1a142a!important;
          --background-normal-alt: #1a142a!important;
          --background-subdued: #140f20!important;
      --background-highlight: #1d1d21;
          --background-page: #140f20!important;
          --background-input: #140f20!important;
          --background-page-rgb: #1a142a!important;
      --background-inverted: #fff;
      --card-face-color: var(--background-subdued);
      --card-shadow-color: 0, 0, 0;
      --card-shadow: 0px 0px 6px 0px rgba(var(--card-shadow-color), .2);
      --overlay-color: rgba(0, 0, 0, .9);
      --module-background: var(--background-page);
      --module-background-alt: var(--background-normal);
      --module-icon: var(--foreground-subdued);
      --module-icon-alt: var(--foreground-normal-alt);
      --purple-10: #1e1a31;
      --purple-25: #2a2153;
      --purple-50: #3e2d8d;
      --purple-75: #5238c6;
      --purple-90: #5e3fe8;
      --purple: #6644ff;
      --purple-110: #7557ff;
      --purple-125: #8c73ff;
      --purple-150: #b3a2ff;
      --purple-175: #d9d0ff;
      --purple-190: #f0ecff;
      --pink-10: #2d222e;
      --pink-25: #50364b;
      --pink-50: #8b577c;
      --pink-75: #c578ac;
      --pink-90: #e88cca;
      --pink: #ff99dd;
      --pink-110: #ffa3e0;
      --pink-125: #ffb3e6;
      --pink-150: #ffccee;
      --pink-175: #ffe6f7;
      --pink-190: #fff5fc;
      --blue-10: #192231;
      --blue-25: #1d3653;
      --blue-50: #25578d;
      --blue-75: #2c78c6;
      --blue-90: #308ce8;
      --blue: #3399ff;
      --blue-110: #47a3ff;
      --blue-125: #66b3ff;
      --blue-150: #99ccff;
      --blue-175: #cce6ff;
      --blue-190: #ebf5ff;
      --green-10: #182728;
      --green-25: #1c433d;
      --green-50: #227161;
      --green-75: #289f84;
      --green-90: #2cbb99;
      --green: #2ecda7;
      --green-110: #43d2b0;
      --green-125: #62dabd;
      --green-150: #97e6d3;
      --green-175: #cbf3e9;
      --green-190: #eafaf6;
      --yellow-10: #2d271f;
      --yellow-25: #4f4127;
      --yellow-50: #896d35;
      --yellow-75: #c29942;
      --yellow-90: #e4b34a;
      --yellow: #fbc54f;
      --yellow-110: #fbcb61;
      --yellow-125: #fcd47b;
      --yellow-150: #fde2a7;
      --yellow-175: #fef1d3;
      --yellow-190: #fff9ed;
      --orange-10: #2d231d;
      --orange-25: #503922;
      --orange-50: #8b5d2a;
      --orange-75: #c58031;
      --orange-90: #e89636;
      --orange: #ffa439;
      --orange-110: #ffad4d;
      --orange-125: #ffbb6b;
      --orange-150: #ffd29c;
      --orange-175: #ffe8ce;
      --orange-190: #fff6eb;
      --red-10: #2b1b22;
      --red-25: #49242e;
      --red-50: #7d3342;
      --red-75: #b04255;
      --red-90: #cf4b61;
      --red: #e35169;
      --red-110: #e66278;
      --red-125: #ea7d8f;
      --red-150: #f1a8b4;
      --red-175: #f8d4da;
      --red-190: #fceef0;
      --primary-10: #211d31;
      --primary-25: #332953;
      --primary-50: #4f3e8d;
      --primary-75: #6c52c6;
      --primary-90: #7d5ee8;
      --primary: #8866ff;
      --primary-110: #9475ff;
      --primary-125: #a68cff;
      --primary-150: #c4b3ff;
      --primary-175: #e1d9ff;
      --primary-190: #f3f0ff;
      --secondary-10: #2d222e;
      --secondary-25: #50364b;
      --secondary-50: #8b577c;
      --secondary-75: #c578ac;
      --secondary-90: #e88cca;
      --secondary: #ff99dd;
      --secondary-110: #ffa3e0;
      --secondary-125: #ffb3e6;
      --secondary-150: #ffccee;
      --secondary-175: #ffe6f7;
      --secondary-190: #fff5fc;
      --success-10: #182728;
      --success-25: #1c433d;
      --success-50: #227161;
      --success-75: #289f84;
      --success-90: #2cbb99;
      --success: #2ecda7;
      --success-110: #43d2b0;
      --success-125: #62dabd;
      --success-150: #97e6d3;
      --success-175: #cbf3e9;
      --success-190: #eafaf6;
      --warning-10: #2d231d;
      --warning-25: #503922;
      --warning-50: #8b5d2a;
      --warning-75: #c58031;
      --warning-90: #e89636;
      --warning: #ffa439;
      --warning-110: #ffad4d;
      --warning-125: #ffbb6b;
      --warning-150: #ffd29c;
      --warning-175: #ffe8ce;
      --warning-190: #fff6eb;
      --danger-10: #2b1b22;
      --danger-25: #49242e;
      --danger-50: #7d3342;
      --danger-75: #b04255;
      --danger-90: #cf4b61;
      --danger: #e35169;
      --danger-110: #e66278;
      --danger-125: #ea7d8f;
      --danger-150: #f1a8b4;
      --danger-175: #f8d4da;
      --danger-190: #fceef0;
      --purple-alt: var(--purple-10);
      --blue-alt: var(--blue-10);
      --green-alt: var(--green-10);
      --yellow-alt: var(--yellow-10);
      --orange-alt: var(--orange-10);
      --red-alt: var(--red-10);
      --primary-alt: var(--primary-10);
      --secondary-alt: var(--secondary-10);
      --success-alt: var(--green-10);
      --warning-alt: var(--yellow-10);
      --danger-alt: var(--red-10);
  }
}

body.auto .tox .tox-toolbar, body.auto .tox .tox-toolbar__primary, body.auto .tox .tox-toolbar__overflow {
  background: none!important;
}